 @import url("/home/rengoku/.cache/wal/colors-custom-gtk3.css");

 * {
 	/* `otf-font-awesome` is required to be installed for icons */
 	font-family: FiraCode Nerd Font;
 	font-size: 12px;
 }

 #waybar {
	 margin: 0;
	 padding: 0;
 }
 window#waybar {
	background: linear-gradient(to bottom, @backgroundAlpha, transparent);
 	/*	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
	*/
 }

 #window {
	 margin: 0;
	 padding: 0;
 }

 window#waybar.hidden {
 	opacity: 0.2;
 }

 window#waybar.empty {
 	background-color: transparent;
 }

 window#waybar.empty #window {
 	padding: 0px;
 	margin: 0px;
 	border: 0px;
 	background-color: transparent;
 }

 button {
 	/* Use box-shadow instead of border so the text isn't offset */
 	/* Avoid rounded borders under each button name */
 	border: none;
 	box-shadow: none;
 }

 #workspaces button{
 	padding: 0px 7px;
 	margin: 0px 2px 2px 2px;
 	border-radius: 0px 0px 5px 5px;
 	background-color: transparent;
 	color: #ffffff;
 	font-weight: bold;
 }

 #workspaces button.empty{
 	padding: 0px 7px;
 	margin: 0px 2px 2px 2px;
 	border-radius: 0px 0px 5px 5px;
 	background-color: transparent;
 	color: @foreground;
 	font-weight: lighter;
 }

 #workspaces button.focused {
 	margin: 0px 2px 2px 2px;
 	padding: 0px 7px;
	background: linear-gradient(to top, @color3, transparent);
 	border-radius: 0px 0px 5px 5px;
 	color: #ffffff;
 	font-weight: bold;
 }
/*
 #workspaces button.active {
 	margin: 0px 2px 2px 2px;
 	padding: 0px 7px;
	background: linear-gradient(to top, @color3, transparent);
 	border-radius: 0px 0px 5px 5px;
 	color: #ffffff;
 	font-weight: bold;
 }
*/
 #workspaces button:hover {
 	background: rgba(0, 0, 0, 0.2);
 	padding: 0px 7px;
 	margin: 0px 2px 2px 2px;
 	border-radius: 0px 0px 5px 5px;
 	border: none;
 	box-shadow: none;
 }

 #workspaces button.urgent {
 	background-color: #eb4d4b;
 	border-radius: 0px 0px 5px 5px;
 }

 #group_0 {
 	padding: 5px 5px 5px 0px;
 	color: #ffffff;
 }

 #group_1 {
 	padding: 3px 3px 3px 3px;
 	color: #ffffff;
 }

 #group_2 {
 	color: @foreground;
 }

 #group_3 {
 	padding: 0px 1px;
 	color: @color3;
 }

 #network.disconnected {
 	color: #eb4d4b;
 }

 #custom-menu {
 	color: @color5;
 	padding: 1px 2px;
 	margin: 0px 2px 2px 2px;
 }
 
 #custom-gammastep,
 #custom-pomo {
 	padding: 0px 5px;
 	background: @color6Alpha;
 	color: #ffffff;
 }

 #custom-vpn {
 	padding: 5px 5px;
 	background: @color0Alpha;
 	color: @color7;
 }

 #mode {
 	padding: 5px 5px;
 	background: #eb4d4b;
 	color: #000000;
 }

 #idle_inhibitor {
 	padding: 0 5px;
 }

 #custom-pomo.finished {
 	background: @color5Alpha;
 	color: @foreground;
 }

 #custom-pomo.running {
 	background: @color9Alpha;
 	color: @foreground;
 }

 #custom-pomo.paused {
 	background: @color12Alpha;
 	color: @foreground;
 }

 #user {
 	padding: 0px 5px;
 	background: @color6Alpha;
 	color: #ffffff;
 }

 #memory,
 #network,
 #language,
 #cpu,
 #wireplumber,
 #tray,
 #clock {
 	padding: 0px 7px;
 	color: #ffffff;
 }

 #temperature {
 	color: #ffffff;
	padding: 0px 7px;
 }

 #window {
 	color: #ffffff;
 }


 /* If workspaces is the leftmost module, omit left margin */
 /* .modules-left>widget:first-child>#group_0 {
 	margin-left: 5px;
 } */

 /* If workspaces is the rightmost module, omit right margin 
.modules-right>widget:last-child>#group_2 {
	margin-right: 5;
}
*/
 @keyframes blink {
 	to {
 		background-color: #ffffff;
 		color: #000000;
 	}
 }

 label:focus {
 	background-color: #000000;
 }

 #tray>.passive {
 	-gtk-icon-effect: dim;
 }

 #tray>.needs-attention {
 	-gtk-icon-effect: highlight;
 	background-color: #eb4d4b;
 }
