@import url("/home/rengoku/.cache/hellwal/wlogout.css");

/* filling the window */
window {
	background-color: @color1Alpha;
	font-family: FiraCode Nerd Font;
	font-size: 50px;
	background-image: radial-gradient(ellipse at center, @color1Alpha, @color0Alpha);
}

grid {
	border-radius: 10px;
	margin: 200px;
	padding: 15px;
	background-color: @color0;
}

button {
	border-radius: 640px;
	border-width: 2px;
	border-color: @color0Alpha;
	margin: 10px;
	padding: 25px;
	background-repeat: no-repeat;
	background-size: 0%;
	background-position: center;
	background-color: @color1;
}

button:hover{
	border-color: @color4;
}
button:focus{
	border-color: @color7;
}
button:active {
	border-color: @color10;
}

#reboot:hover,
#lockscreen:hover,
#shutdown:hover {
	color: @color4;
}
#reboot:focus,
#lockscreen:focus,
#shutdown:focus {
	color: @color7;
}

#shutdown {
	color: @color0Alpha;
}

#reboot {
	color: @color0Alpha;
}

#lockscreen{
	color: @color0Alpha;
}
