/*
window {
   background-image: url("/home/rengoku/Pictures/wallhaven-lmxmxy.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
*/
window#VGA-1 {
	background-image: url("/tmp/VGA-1.png");
	background-color: black;
}

window#LVDS-1 {
	background-image: url("/tmp/LVDS-1.png");
	background-color: black;
}

/*
#window-box {
	padding: 64px;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
	background-color: grey;
}
*/
